html, body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  height: 100%; 
  margin: 0;   
  color: white;

    /* Background image settings */
  background-image: url('poging-pic.jpg'); /* replace with your image path */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  height: 100vh;    
}

.main-container h1 {
  margin: 0; 
  text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.main-container p {
  margin: 0; 
  text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}
