@font-face {
    font-family: 'Cookie';
    src: url('cookie-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cookie', cursive;
}

h1 {
    font-size: 7rem;
    padding: 20px;
}

p {
    font-family: 'Cookie', cursive;
    font-size: 5rem;
    padding: 20px;
}

    p .me {
        font-size: 3rem;
        float: left;
        text-align: start;
    }

button {
    padding: 15px;
    background-image: url("bday-tag.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
}

body {
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: #f4f4f4;
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    justify-content: center;
    align-items: center;
}

#birthdayMessage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("gift.png");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
    background-attachment: fixed;
}

.opaque {
    opacity: 0;
}

.confetti {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.confetti::before, .confetti::after {
  content: '';
  position: absolute;
  top: -10px;
  width: 5px;
  height: 20px;
  background-color: #ff6347; /* Tomato color */
  animation: fall 3.5s infinite linear;
  transform-origin: center;
  z-index: 100;
}

.confetti::before {
  background-color: #ff6347;
  left: 20%;
  animation-delay: 0s;
}

.confetti::after {
  background-color: #4caf50;
  left: 40%;
  animation-delay: 0.7s;
}

.confetti span {
  position: absolute;
  top: -10px;
  width: 5px;
  height: 20px;
  background-color: randomColor();
  animation: fall 3.2s infinite linear;
  opacity: inherit;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}

@media (max-width:1023px) {
    h1 {
        font-size: 3rem;
    }
    
    p {
        font-size: 2.2rem;
    }
    p.e {
        font-size: 1.3rem;
    }
}
